</body>
<footer>
  <a class="favIcon" href="https://www.linkedin.com/in/jagannathan-k-9234821b4/"> <i class="fab fa-linkedin footer-fab-icon"></i></a>
  <a class="favIcon" href="https://github.com/Jagan3737"> <i class="fab fa-github footer-fab-icon"></i></a>
  <a class="favIcon" href="mailto:jagan.nathan.jn24@gmail.com"> <i class="fas fa-envelope footer-fab-icon"></i></a>
  <p>© Copyright ePocket 2021. All rights reserved.</p>
</footer>
</html>
