<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Failed</title>
  <meta http-equiv="refresh" content="2; URL=/customers" />

  <!-- Favicon Icon -->
  <link rel="icon" href="/css/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="pageColor">
  <img class="paymentSuccessful" src="/css/failed.gif" alt="Payment Failed">
</body>

</html>
