<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    <meta http-equiv="refresh" content="2; URL=/transaction-history"/>
    <!-- Favicon Icon -->
    <link rel="icon" href="/css/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="pageColor">
    <img class="paymentSuccessful" src="/css/successful.gif" alt="Payment Successful">
  </body>
</html>
